.header{
    height: 120px;   
    
}   

marquee{
    font-size: 50px;
    word-spacing: 10px;
    margin-top: 25px;
    color:green;
    text-shadow:2px 2px;

}


nav{
            overflow: hidden;
            background-color: #333;
            }

nav a{
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 15px 50px;
            text-decoration: none;
            font-size: 20px;
            
        }
       
nav a:hover{
            background-color: #00ff01;
            color:green;
            transition: 0.5s all;
        }
 
nav a.active{
    background-color: #00ff01;
    color: blue;
}
.dropbtn  {
     float: right;
     color: white;
     padding: 15px 15px;
     background-color: inherit;
  }


* {
    box-sizing: border-box;
}

.image{
    width:100%;
    background-size: cover;    
}


.example{
    position: absolute;
    top:55%;
    left: 40%;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 11px;
  background: #2196F3;
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


        body {font-family:monotype corsiva, sans-serif;}

        .mySlides {display: none;}

        img {vertical-align: middle;}

        .slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
        
        .numbertext {
  color: blue;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
        
        .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}
        
        .active {
  background-color: black;
}

.zoom
{
    transition: transform 0.5s;
    
}
.zoom:hover{
    transform: scale(1.2);
    
}
.zoom img{
    border-radius: 50%;
    border:1px solid black;
    box-shadow: 5px 5px;
}
tr,td{
    text-align: center;
    width:20%;
    padding: 5px;
}
table{
    padding: 50px;
}

.row .icon1 img{
    width: 150px;
    position: absolute;
    margin-top: 10px;
    left: 20px;
}
.footer-section {
	padding-top: 115px;
	padding-bottom: 25px;
}

.footer-widget p {
	color: #ccc;
    padding-left: 20px;
}

.footer-widget .term-policy{
    position: absolute;
    right: 250px;
    margin-top: -200px;
}

.footer-widget .term-policy a{
      color: greenyellow;
    text-decoration: none;
}

.footer-widget .social {
	padding-top: 10px;
    padding-left: 35px;
}

.footer-widget .social a {
	color: #fff;
	font-size: 16px;
	margin-right: 35px;
}

.footer-widget .fw-title {
	padding-top: 10px;
	text-transform: uppercase;
	margin-bottom: 35px;
	color: greenyellow;
}

.footer-widget .contact-widget {
	padding-left: 370px;
    margin-top: -230px;
}

.footer-widget .contact-widget h5{
    padding-left: 20px;
    font-size: 20px;
}

.footer-widget .contact-widget p i {
	color: #fff;
	margin-right: 10px;
}

.footer-widget .double-menu-widget {
	padding-left: 600px;
    margin-top: -230px;
}

.footer-widget .double-menu-widget h5 {
	padding-left: 60px;
    font-size: 20px;
}

.footer-widget .double-menu-widget ul {
	list-style: none;
	display: inline-block;
}

.footer-widget .double-menu-widget ul a {
	font-size: 13.9px;
	color: #cccccc;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	right: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	position: relative;
}

.footer-widget .double-menu-widget ul a:hover {
	right: -20px;
	color: #fff;
}

.footer-widget .double-menu-widget ul a:hover:after {
	opacity: 1;
	left: -15px;
}

.footer-widget .double-menu-widget ul a:after {
	font-family: 'FontAwesome';
	content: "\f101";
	position: absolute;
	left: -20px;
	top: 0;
	color: #30caa0;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.footer-widget .double-menu-widget ul:last-child {
	margin-left: 50px;
}

.footer-widget .footer-newslatter-form {
	position: relative;
	height: 40px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 25px;
    
}

.footer-widget .newslatter-widget h5 {
	position: absolute;
	right: 200px;
	margin-top: -100px;
    font-size: 20px;
    
}

.footer-widget .newslatter-widget p {
	position: absolute;
	right: 90px;
	margin-top: -60px
    
}

.footer-widget .footer-newslatter-form input {
	width:25%;
	height: 40px;
	padding: 10px 18px;
	padding-right: 50px;
    right: 70px;
    position: absolute;
}

.footer-widget .footer-newslatter-form button {
	position: absolute;
	height: 100%;
	width: 40px;
	top: 0;
	right: 30;
	background: #30caa0;
	color: #fff;
	border: none;
}















